<table class="table table-striped table-bordered">
  <thead>
  <th class="board-name">Board Name</th>
  <th>Total Developers Estimation</th>
  <th>Total Managers Estimation</th>
  <th>Total Tracked Time</th>
  <th>Remaining Time</th>
  <th>Performance</th>
  </thead>
  <tbody>
  <% @boards.each do |board| %>
    <%= render "board", :board => board %>
  <% end %>
  </tbody>
</table>

