<h1>
  My Projects
</h1>

<table class="table">
  <thead>
    <th>
      Name
    </th>

  </thead>
  <tbody>
    <% @projects.each do |board| %>
      <%= render "board", :board => board %>
    <% end %>

  </tbody>
</table>

