default: &default
  # developer account calling the API, must be able to access every FI board
  TRELLO_DEVELOPER_KEY: ''
  TRELLO_DEVELOPER_SECRET: ''
  TRELLO_TOKEN: ''

  # team page => Edit Profile => Short Name (not Display name)
  TRELLO_TEAM: ''

  HARVEST_SUBDOMAIN: ''
  HARVEST_USERNAME: ''
  HARVEST_PASSWORD: ''

  DOMAIN: ''

development:
  <<: *default

test: &test
  <<: *default

cucumber:
  <<: *test

staging:
  <<: *default

production:
  <<: *default

