# developer account calling the API
TRELLO_DEVELOPER_KEY: ''
TRELLO_DEVELOPER_SECRET_KEY: ''

# user account that can access every FI board
TRELLO_MEMBER_KEY: ''
TRELLO_TOKEN: ''

# team page => Edit Profile => Short Name (not Display name)
TRELLO_TEAM: ''

HARVEST_SUBDOMAIN: ''
HARVEST_USERNAME: ''
HARVEST_PASSWORD: ''

DOMAIN: 'http://estimation-fi.herokuapp.com'