TRELLO_DEVELOPER_KEY: ''
TRELLO_DEVELOPER_SECRET_KEY: ''

# Jon Salis Token Key
TRELLO_MEMBER_KEY: 69a3eff6c9fde0a73e32697f38105f12
TRELLO_TOKEN: 079c2aa38c7db3544948889a943f418a60c74d79d2754395b4e7e8bd309e4499
HARVEST_SUBDOMAIN: ''
HARVEST_USERNAME: ''
HARVEST_PASSWORD: ''
DOMAIN: http://estimation-fi.herokuapp.com